<h1 class="header">Create</h1>

<form method="POST" action="/releases">
<table class="form">
<tr>
<td>Name</td>
</tr>
<tr>
<td><input type="text" id="name" name="release[name]" size="50" /></td>
</tr>
</table>
<input class="cancel" type="button" value="Cancel" />
<input type="submit" value="Create new release" />
</form>
