<h1 class="header">Edit</h1>

<form method="POST" action="/releases/<%= release.id %>">
<input type="hidden" name="release[id]" value="<%= release.id %>" />
<input type="hidden" name="_method" value="put" />
<table class="form">
<tr>
<td>Name</td>
</tr>
<tr>
<td><input type="text" id="name" name="release[name]" value="<%= release.name %>" size="50" /></td>
</tr>
</table>
<input class="cancel" type="button" value="Cancel" />
<input type="submit" value="Update release" />
</form>
