@borderColor: #c0c0c0;
@headerLinkColor: #333;
@blueGrey: #7CA6CF;
@highlightedNav: #CBDBEC;
@highlightedNavText: #000;
@darkGreyText: #333;
@white: #fff;
@cardGradient: linear-gradient(to bottom, @blueGrey 6px, #f9f9f9 25px);

.navbar {
   background-color: @blueGrey;
}

.navbar-brand {
   color: @darkGreyText;
}

a.navbar-brand:hover {
   color: @white;
}

.navbar-nav>li>a {
   color: @darkGreyText;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
   background-color: @highlightedNav;
   color: @highlightedNavText;
}

td.big {
   width: 80%;
}

.half {
   width: 50%
}

.clickable {
   cursor: pointer;
}

.draggable {
   cursor: move;
}

.sort-icon {
   margin: 0 30px 0 10px;
}

.pull-right.btn {
   margin-left: 5px;
}

.greeting {
   color: @headerLinkColor;
   .separater {
      display: inline;
      margin-left: 10px;;
      margin-right: 10px;;
      font-size: 14pt;
   }

   a {
      color: @headerLinkColor;

      &:hover {
         color: #fff;
         text-decoration: none;
      }
   }
}

.alert.alert-block {
   a {
      font-weight: bold;
      cursor: pointer;
   }
}

#homePage {
   .states {
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: @borderColor;
      float: left;
      height: 500px;
   }

   .states:last-child {
      border-width: 0px 0px 0px 0px;
   }

   .states-header {
      float: left;
      font-weight: bold;
      text-align: center;
   }

   .card {
      background: @cardGradient;
      border: solid 1px @borderColor;
      border-radius: 5px;
      margin: 10px;
      padding: 5px;

      box-shadow: 3px 3px 5px @borderColor;

      .title {
         font-size: 10pt;
         font-weight: bold;
      }

      .description {
         font-size: 9pt;
      }

      .separater {
         border-style: solid;
         border-width: 0px 0px 1px 0px;
         border-color: @borderColor;
         margin: 0px -5px 0px -5px;
      }
   }
}

