<h1 class="header">Edit</h1>

<form method="POST" action="/stories/<%= story.id %>">
<input type="hidden" name="story[id]" value="<%= story.id %>" />
<input type="hidden" name="_method" value="put" />
<table class="form">
<tr>
<td>Name</td>
</tr>
<tr>
<td><input type="text" name="story[name]" value="<%= story.name %>" size="50" /></td>
</tr>
<tr>
<td>Description</td>
</tr>
<tr>
<td><textarea name="story[description]"><%= story.description %></textarea></td>
</tr>
</table>
<input class="cancel" type="button" value="Cancel" />
<input type="submit" value="Update story" />
</form>
