div(class="navbar navbar-inverse navbar-fixed-top")
   div(class="container")
      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".nav-collapse")
         span(class="icon-bar")
         span(class="icon-bar")
         span(class="icon-bar")
      a(class="navbar-brand", href="#") KanbanJS
      div(class="nav-collapse collapse")
         ul(class="nav navbar-nav")
            li(class="active")
               a(href="#") Home
            li
               a(href="#about") About
            li
               a(href="#contact") Contact
            li(class="dropdown")
               a(href="#", class="dropdown-toggle", data-toggle="dropdown") Dropdown 
                  b(class="caret")
               ul(class="dropdown-menu")
                  li
                     a(href="#") Action
                  li
                     a(href="#") Another action
                  li
                     a(href="#") Something else here
                  li(class="divider")
                  li(class="nav-header") Nav header
                  li
                     a(href="#") Separated link
                  li
                     a(href="#") One more separated link
