!!! 5
html(lang='en')

   head
      title= 'KanbanJS'
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
      | <style>
      | body { padding-top: 60px }
      | </style>
      link(rel='stylesheet', href='/css/site.css', media='screen')
      block styles

   body
      include header
      include body
      include footer

      script(type='text/javascript', src='/scripts/jquery-1.10.2.min.js')
      script(type='text/javascript', src='/scripts/bootstrap.min.js')
      script(type='text/javascript', src='/scripts/site.js')
      block scripts
