<h1 class="header">Create</h1>

<form method="POST" action="/people">
<table>
<tr>
<td>First Name</td>
</tr>
<tr>
<td><input type="text" name="person[firstName]" /></td>
</tr>
<tr>
<td>Last Name</td>
</tr>
<tr>
<td><input type="text" name="person[lastName]" /></td>
</tr>
<tr>
<td>Middle Name</td>
</tr>
<tr>
<td><input type="text" name="person[middleName]" /></td>
</tr>
</table>
<input type="submit" value="Create new person" />
</form>
