
div(data-bind='page: { id: "home", title: "Home", withOnShow: bindModel }')
   .container
      button.btn.btn-default.btn-small.pull-right(data-bind='click: newCard') New card

      ul.nav.nav-tabs.nav-justified(data-bind='foreach: queues')
         li(data-bind='css: {active: isSelected}')
            a(data-bind='text: name, click: $parent.selectQueue')

      div(data-bind='with: selectedQueue')
         .row(data-bind='foreach: { data: states, afterRender: adjustStateWidth }')
            span.states-header(data-bind='text: name')
         .row(data-bind='foreach: { data: states, afterRender: adjustStateWidth }')
            .states(data-bind='sortable: { data: cards, afterMove: $parents[1].cardMoved }')
               .card.draggable
                  .title(data-bind='text: name')
                  .separater
                  span(data-bind='text: description')

