div(data-bind='page: { id: "newCard", title: "New card", withOnShow: bindModel }')
   h2 Create card

   form.form-horizontal
      .form-group
         label.col-lg-2.control-label(for='name') Name
         .col-lg-10
            input.form-control#name(type='text', placeholder='', data-bind='value: name, valueUpdate: "keyup"')
      .form-group
         label.col-lg-2.control-label(for='description') Description
         .col-lg-10
            textarea.form-control#description(name='description', data-bind='value: description', rows='3')

   .btn-toolbar
      button.pull-right.btn.btn-default(data-bind='click: cancel') Cancel
      button.pull-right.btn.btn-primary(data-bind='click: save, disable: !isValid()') Create card


   .alert.alert-block.alert-warning.pull-left(data-bind='visible: !$data.isValid()')
      h4 Invalid card
      p Please be sure to fix the following invalid items:
         ul(data-bind='foreach: validationErrors')
            li(data-bind='text: $data')
