extends ../../layout/layout

block content
   h1 Login

   if bad_login
      .alert.alert-danger 
         b Error:
         |  Invalid credentials
   if created_user_successfully
      .alert.alert-success
         b Success!
         |  Your user account has been created successfully.  Please login with your credentials.

   form(action='/login', method='post')
      fieldset
         .form-group
            input(name='username', type='text', placeholder='Username')
         .form-group
            input(name='password', type='password', placeholder='Password')
         input(value='Login', type='submit', class='btn btn-primary')

      | Not a registered user? 
      a(href='/registration') Registration here!
