extends ../../layout/layout

block content
   h1= 'Login'
   if bad_login
      b Invalid credentials
   if created_user_successfully
      b Your user account has been created successfully.  Please login with your credentials.

   form(action='/login', method='post')
      p Username
         input(name='username', type='text')
      p Password
         input(name='password', type='password')
      p
         input(value='Login', type='submit')

   p
      a(href='/registration') New user registration
