div(data-bind='page: { id: "editQueue", title: "Queue Management", withOnShow: bindModel }')
   h2 
      span(data-bind='text: title')

   form.form-horizontal
      .form-group
         label.col-lg-2.control-label(for='name') Name
         .col-lg-10
            input.form-control#name(type='text', placeholder='', data-bind='value: name')
      .form-group
         label.col-lg-2.control-label(for='description') Description
         .col-lg-10
            textarea.form-control#description(name='description', data-bind='value: description', rows='3')
      .form-group
         label.col-lg-2.control-label(for='description') States
         .col-lg-10

            .input-group
               input.form-control(type='text', data-bind='value: newStateName')
               span.input-group-btn
                  button.btn.btn-default.glyphicon.glyphicon-plus-sign(data-bind='click: addState')
            ul.list-group(data-bind='sortable: states')
               li.list-group-item.draggable.state.clearfix
                  i.sort-icon.glyphicon.glyphicon-sort
                  span(data-bind='text: name')
                  button.btn.btn-default.btn-danger.btn-sm.glyphicon.glyphicon-remove.pull-right

   .btn-toolbar
      button.pull-right.btn.btn-default(data-bind='click: cancel') Cancel
      button.pull-right.btn.btn-primary(data-bind='click: save') 
         span(data-bind='text: saveActionText')

