
div(data-bind='page: { id: "home", title: "Home", withOnShow: bindModel }')
   .container
      .row(data-bind='foreach: states')
         span.states-header(data-bind='text: name')
      .row(data-bind='foreach: states')
         .states(data-bind='sortable: { data: cards }')
            .card
               .title(data-bind='text: name')
               .separater
               span(data-bind='text: description')

