
div(data-bind='page: { id: "home", title: "Home", withOnShow: bindModel }')
   .container
      .row(data-bind='foreach: states')
         .states-header
            .card(data-bind='text: name')
      .row(data-bind='foreach: states')
         .states(data-bind='sortable: cards')
            .card(data-bind='text: name')

