
div(data-bind='page: { id: "queueManagement", title: "Queue Management", withOnShow: bindModel }')
   h2 Queue Management
   p This is where you manage queues.

   a.btn.btn-primary.btn-sm.pull-right.glyphicon.glyphicon-file.glyphicon-white(data-bind='click: createQueue')  New Queue

   table.table.table-hover
      thead
         th Name
         th Description
      tbody(data-bind='foreach: queues')
         tr.clickable(data-bind='click: $parent.openQueue')
            td(data-bind='text: name')
            td.big(data-bind='text: description')
