
div(data-bind='page: { id: "queueManagement", title: "Queue Management", withOnShow: bindModel }')
   h1 Queue Management
   p This is where you manage queues.

   p
      a(data-bind='click: createQueue') New Queue

   ul(data-bind='foreach: queues')
      li.clickable(data-bind='click: $parent.openQueue')
         b(data-bind='text: name')
         | - 
         span(data-bind='text: description')
