body {
   font: 16pt sans-serif;
   color: #333;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
   background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
}

a, a:visited {
   color: blue;
   text-decoration: none;
}

table.resources {
   border-collapse: collapse;
   width: 100%;
}

table.resources tbody tr:nth-child(odd) {
   background: #ffffff;
   border: solid 1px #333;
}

table.resources tbody tr:nth-child(even) {
   background: #ddd;
   border: solid 1px #333;
}

table.resources thead {
   color: #fff;
   background: #333;
}

a.create {
   background-image: url(/images/add.png);
   display: block;
   width: 32px;
   height: 32px;
}

a.edit {
   background-image: url(/images/edit.png);
   display: block;
   width: 32px;
   height: 32px;
}

a.delete {
   background-image: url(/images/delete.png);
   display: block;
   width: 32px;
   height: 32px;
}

h1.header {
   border-bottom: solid 2px #333;
   margin-top: 0px;
}

div.content {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   background: #B2D1ED;
   border: solid 2px #5896CC;
   padding: 20px;
}

textarea {
   width: 100%;
   padding: 3px;
   border: solid 2px #5896CC;
}

input[type=text] {
   border: solid 2px #5896CC;
   padding: 3px;
}

input[type=submit],
input[type=button] {
   font-size: 12pt;
   border: solid 2px #5896CC;
   padding: 5px;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
   float: right;
}

