extends ../../layout/layout

block scripts
   script(type='text/javascript', src='/scripts/require-2.1.8.js', data-main='scripts/viewModels/registration.js')

block content
   h1 New user registration
   form(action='/registration', method='post')
      .form-group
         input(type='text', id='name', name='name', placeholder='Full name', data-bind='value: name')
      .form-group
         input(type='text', id='email', name='email', placeholder='Email', data-bind='value: email')
      .form-group
         input(type='password', id='password', name='password', placeholder='Password', data-bind='value: password')
      .form-group
         input(type='password', id='confirm-password', placeholder='Confirm password', data-bind='value: passwordConfirmation')
      .form-group
         input(type='submit', id='register-button', value='Create user', class='btn btn-primary', data-bind='enable: isValid')
         &nbsp;
         a(href='/login', class='btn btn-default') Cancel
