extends ../../layout/layout

block content
   h1 New user registration
   form(action='/registration', method='post')
      .form-group
         input(type='text', name='name', placeholder='Full name')
      .form-group
         input(type='text', name='email', placeholder='Email')
      .form-group
         input(type='password', name='password', placeholder='Password')
      .form-group
         input(type='submit', value='Create user', class='btn btn-primary')
         &nbsp;
         a(href='/login', class='btn btn-default') Cancel
